extends ../base.pug

block content
    div#videoContainer
        video(src="/"+video.fileUrl, width="720px")
        div#videoControls
            button#play Play
            button#mute Mute
            input(type="range", step="0.1", value=0.5, min="0", max="1")#volume
            div 
                span#currentTime 00:00 
                span  / 
                span#totalTime 00:00 
            input(type="range", step="1", value=0, min="0")#timeline
            div
                button#fullScreen Enter Full Screen
    //- h1=video.title

    //- p=video.description
    //- small=video.createdAt
    //- br 
    //- small Uploaded by 
    //-     a(href="/users/" + video.owner._id)=video.owner.name
    //- h5 #{video.meta.views} #{video.views === 1 ? "view" : "views"}
    //- ul
    //-     each hashtag in video.hashtags
    //-         li=hashtag
    //- if video.owner._id == user._id
    //-     a(href=`${video.id}/edit`) Edit Video &rarr;
    //-     br
    //-     a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts
    script(src="/assets/js/videoPlayer.js")