extends base

block content
    if errorMessage
        span=errorMessage
    form(method="post", action="/join")
        span Name
        input(name="name", type="text", required, placeholder="Name", value=name)
        span Email
        input(name="email", type="email", required, placeholder="Email adress", value=email)
        span Username
        input(name="username", type="text", required, placeholder="User name", value=username)
        span Password
        input(name="password", type="password", required, placeholder="Password")
        span Confirm Password
        input(name="confpassword", type="password", required, 
            placeholder="Confirm Password")
        span Location
        input(name="location", type="text", required, placeholder="Location", value=location)
        input(type="submit", value="Join",)
    hr        
    div 
        span Already have an account? 
        a(href="/login") Log in here! &rarr;