extends base.pug

block content
    h1=video.title
    p=video.description
    small=video.createdAt
    h5 #{video.meta.views} #{video.views === 1 ? "view" : "views"}
    ul
        each hashtag in video.hashtags
            li=hashtag
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;