extends base.pug

block content
    h1=video.title
    p=video.description
    small=video.createdAt
    h5 #{video.meta.views} #{video.views === 1 ? "view" : "views"}
    h5=video.hashtags
    a(href=`${video.id}/edit`) Edit Video &rarr;